.main-container-notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container-notifications h1 {
    font-size: 2rem !important;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem;
    color: #434343;
}

h4 {
    font-size: 1.2rem !important; 
    color: #434343;
}

.notification-container {
    background-color: #ffff;
    width: 80%;
    height: 65vh;
    padding: 15px;
    border-radius: 20px;
}
