.inputs-tasks {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.button-submit {
    margin-top: 20px;
    width: 100%;
}

span {
    margin-bottom: 20px;
}

.MuiInputBase-root {
    height: 45px;
}


