* {
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
}

.task-notification {
    width: 25%;
    margin-top: 10vh;
    height: 80vh;
    background-color: rgb(243, 243, 243);
    border-radius:  3rem 3rem 0 0;
    border: rgba(0, 0, 0, 0.05) solid 1px;
    box-shadow: 4px  rgba(0, 0, 0, 0.2);
}

.task-list {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.nav-bar-section{
    padding-left: 2rem;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-icon {
    margin-right: 3rem;
}

button {
    /* Reset margin and padding */
    margin: 0;
    padding: 0;
  
    /* Reset border */
    border: none;
  
    /* Reset background and text color */
    background-color: transparent;
    color: inherit;
  
    /* Reset font styles */
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
  
    /* Reset cursor to default */
    cursor: pointer;
  }


h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

span {
    margin-bottom: 0.5rem;
}

.modal-container {
    
    background-color: rgba(0, 0, 0, 0.3);
    /* display: none; */
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.modal {
    /* display: none; */
    width: 40%;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 2rem 2rem;
}

.search-bar {
    padding-left: 1rem;
    margin-left: 1rem;
    height: 2.5rem;
    width: 25rem;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.seach-bar-container {
    display: flex;
    align-items: center;
    width: 70%;
}

select {

    padding: 0.5em 2em 0.5em 0.5em; /* Ajustar el espaciado y tamaño del elemento select según tus preferencias */
    border: 1px solid #ccc; /* Añadir un borde si lo deseas */
    background-color: #fff; /* Establecer el color de fondo */
    border-radius: 5px; /* Añadir bordes redondeados si lo deseas */
    margin-left: 15px;
  }