* {
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
}

.task-form {
    width: 25%;
    height: 70vh;
    background-color: aliceblue;
}

.task-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 20px 0 20px ;
}

h1 {
    padding: 30px;
    margin-bottom: 20px;
}